## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

###  方法一

In [10]:
import pandas as pd
import numpy as np

In [11]:
data = {'國家':['Taiwan','Japan','America','Russia'] ,
        '人口': np.random.randint(2147483647,size=4)}
data = pd.DataFrame(data)

In [12]:
data

        國家          人口
0   Taiwan   235301778
1    Japan  2005141244
2  America   501243895
3   Russia   355175434

### 方法二

In [26]:
country=['Taiwan','Russia','America','Japan']
population=np.random.randint(2147483647,size=4)

list_labels=['country','population']
list_cols=[country,population]

zipped=list(zip(list_labels,list_cols))

In [29]:
countryFrame=pd.DataFrame(dict(zipped))
countryFrame

   country  population
0   Taiwan  1679920622
1   Russia  1858283064
2  America   690391707
3    Japan   728390864